# Configuration file for MYIP.EXE - must be located in %ETC% directory or since
# v0.3 specified with -f option
#
# This file defines the 'echo' sites used to query one's own IP address.
# Each line defines a single server.  The format of each line is:
#   <server> <port> <path> <text>
# Where <server> is the hostname or IP address of the server; <port> is the
# IP port (normally 80) to connect on; <path> is the remainder of the URL path
# where the echo service is provided; and <text> is the text to search for in
# the returned data, after which the desired IP address may be found.
#
# Up to 10 servers may be configured (any subsequent entries are ignored);
# if MYIP fails to get an address from one server, it will try the next one.
#
# Lines starting with ';' or '#' are considered comments.  Leading/trailing
# whitespace and blank lines are ignored.
#

ip.os2.org 80 /checkip/ Address:

;ip.os2.org 80 /plain/ text/html
;ip.os2.org 80 / Address is:    <---- should not be used

ifconfig.me 80 /ip/ text/plain
checkip.dyndns.org 80 / Address:
ipid.shat.net 80 /iponly/ <body>

;www.whatismyip.com 80  / Address:
;automation.whatismyip.com 80 /n09230945.asp private


#
# line starting with ping defines the ping server, followed by server name and port
#

ping google.com 80

;ping 8.8.8.8 80
